Code for Consolidated Inventory Data

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Read data from CSV/Excel files
dk = pd.read_excel(r'C:\Users\USER\OneDrive\Documents\House of Analytics\ITA\-Ita-Data_Cleanup\(ITA) Aug Inventory Skanderborg Flensborg.xlsx')
de = pd.read_excel(r'C:\Users\USER\OneDrive\Documents\House of Analytics\ITA\-Ita-Data_Cleanup\(ITA) Aug Final Inventory Handewitt.xlsx')

In [5]:
dk.head()

,Status,Mængde,Reol,Lastbærer,Lokationsnavn,Område,Senest optalt,Holdbarhedsdato,Vareejerid,Varenummer,Beskrivelse,Stregkode,Ordrenummer,Lastbærerid,Id
0,AVAILABLE,6,S4-E-22,NaN,S4-S4-E-22-X00000Y02000,S4,2025-08-29 16:32:29.534,NaN,170,###-2XL-B#FP,FR-Tshirt-Unisex-B-2XL-B,NaN,NaN,NaN,34459745
1,AVAILABLE,8,S4-E-22,NaN,S4-S4-E-22-X00325Y02000,S4,2025-07-21 15:45:46.200,NaN,170,###-2XL-W#FP,FR-Tshirt-Unisex-W-2XL-W,NaN,NaN,NaN,34460005
2,AVAILABLE,14,S4-E-22,NaN,S4-S4-E-22-X00000Y01200,S4,2025-07-21 15:40:47.327,NaN,170,###-L-B#FP,FR-Tshirt-Unisex-B-L-B,NaN,NaN,NaN,34459663
3,AVAILABLE,4,S4-E-22,NaN,S4-S4-E-22-X00325Y01200,S4,2025-08-29 16:30:10.100,NaN,170,###-L-W#FP,FR-Tshirt-Unisex-L-W,NaN,NaN,NaN,34459900
4,AVAILABLE,11,S4-E-22,NaN,S4-S4-E-22-X00000Y00800,S4,2025-08-29 16:31:48.973,NaN,170,###-M-B#FP,FR-Tshirt-Unisex-B-M-B,NaN,NaN,NaN,34459296

In [6]:
# Create IF function for column Område
# When Område = S2 or S4 then "Skandeborg" elseif Område = F1 then "Flensborg"
dk['Område'] = np.where(dk['Område'].isin(['S2', 'S4']), 'Skanderborg', np.where(dk['Område'] == 'F1', 'Flensborg', dk['Område']))

# Value Count for Område
dk['Område'].value_counts()

Område
Skanderborg    358
Flensborg        8
General          1
Name: count, dtype: int64

In [ ]:
# Add all values

,Status,Mængde,Reol,Lastbærer,Lokationsnavn,Område,Senest optalt,Holdbarhedsdato,Vareejerid,Varenummer,Beskrivelse,Stregkode,Ordrenummer,Lastbærerid,Id
0,AVAILABLE,6,S4-E-22,NaN,S4-S4-E-22-X00000Y02000,Skanderborg,2025-08-29 16:32:29.534,NaN,170,###-2XL-B#FP,FR-Tshirt-Unisex-B-2XL-B,NaN,NaN,NaN,34459745
1,AVAILABLE,8,S4-E-22,NaN,S4-S4-E-22-X00325Y02000,Skanderborg,2025-07-21 15:45:46.200,NaN,170,###-2XL-W#FP,FR-Tshirt-Unisex-W-2XL-W,NaN,NaN,NaN,34460005
2,AVAILABLE,14,S4-E-22,NaN,S4-S4-E-22-X00000Y01200,Skanderborg,2025-07-21 15:40:47.327,NaN,170,###-L-B#FP,FR-Tshirt-Unisex-B-L-B,NaN,NaN,NaN,34459663
3,AVAILABLE,4,S4-E-22,NaN,S4-S4-E-22-X00325Y01200,Skanderborg,2025-08-29 16:30:10.100,NaN,170,###-L-W#FP,FR-Tshirt-Unisex-L-W,NaN,NaN,NaN,34459900
4,AVAILABLE,11,S4-E-22,NaN,S4-S4-E-22-X00000Y00800,Skanderborg,2025-08-29 16:31:48.973,NaN,170,###-M-B#FP,FR-Tshirt-Unisex-B-M-B,NaN,NaN,NaN,34459296